@model IEnumerable<MongoBlog.Web.ViewModels.PostVM>
@{
    ViewBag.Title = "Index"; 
}
<div class="row">
@if (null != this.Model && this.Model.Any()) {
    foreach (var post in this.Model) { 
        this.Html.RenderPartial("_PostItemTemplate", post);
    }    
}
</div>
<div class="container">
    <div class="row">
    @this.Html.ActionLink("View more...", "Posts")
    </div>
</div>